" ================================================================================================
Plug 'tpope/vim-surround' " Surrounding ysiw)
Plug 'preservim/nerdtree'
Plug 'tpope/vim-commentary' " For Commenting gcc & gc & gcgc
Plug 'jiangmiao/auto-pairs'
Plug 'easymotion/vim-easymotion'
let mapleader = " "

" ================================================================================================
" = Basic settings =====================================
" ================================================================================================
set clipboard+=unnamed
set ignorecase
set scrolloff=30
set history=200

set number
set relativenumber

set incsearch
set hlsearch
set keep-english-in-normal
set idearefactormode=keep
set ideajoin
set surround
set easymotion

noremap <Esc> <nop>
nmap <S-Enter> O<Esc>
nmap <CR> o<Esc>

nnoremap <C-j> :m +1<CR>
nnoremap <C-k> :m -2<CR>
inoremap <C-j> <Esc>:m +1<CR>gi
inoremap <C-k> <Esc>:m -2<CR>gi
" ================================================================================================
" = No Leader Keymaps =====================================
nmap gr <action>(FindUsages)
" last changed in current buffer(file)
nmap ga '.

" paste之后不会把yank的内容替换掉
vmap p "_dp

" bookmark in whole program
nmap ma mA

nmap <C-p> <action>(GotoFile)
nmap <leader>s <action>(GotoClass)
nmap <leader>f <action>(FindInPath)
nmap <leader>h <action>(PreviousTab)
nmap <leader>l <action>(NextTab)
nmap <leader>m <action>(Git.Menu)
nmap <leader>/ <action>(ShowErrorDescription)
nmap <C-n>  <action>(ActivateProjectToolWindow)
nmap <leader>e <action>(GotoNextError)
nmap <leader>rr <action>(Rerun)
nmap <leader>cr <action>(ContextRun)
nmap <leader>d <action>(Debug)
nnor<emap <leader><leader> <C-Tab>

set NERDTree
let g:NERDTreeMapActivateNode='l'
let g:NERDTreeMapJumpParent='h'
